<h1>Coucou Loïck !</h1>
<p>Comment vas-tu Ororororororo ! Cette journée n'est pas trop fatigante ?!</p>
<p>Ma foi je suis bien fatiguée mais j'ai hâte de profiter des festivités du week end</p>
<h3>JE TE COMPRENDS TELLEMENT !!Weekend de <h1>TROIS</h1> jours, rien de mieux !</h3>
<p>non mais le sommeil c'est la vie je vais kiffer les bords de l'erdre</p>

<h4>Je te conseille de venir A QUARANTE PIEDS</h4>
<p>je ne peux point car je retrouve mes amis tôt, toutefois le week end est long nous aurront d'autres occasions si tu
  le souhaites</p>
<p>Je pars dans le trou du c*l du monde demain ! J'espère déjà en revenir un jour...</p>
<h1>💩</h1>